<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602628536236-el2vb06lfbhhdrfc5ug222s4ired4nin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602628536236-el2vb06lfbhhdrfc5ug222s4ired4nin</string>
	<key>API_KEY</key>
	<string>AIzaSyD2dwhL3DJFGghehQJS_CvpmgXplQsY0iU</string>
	<key>GCM_SENDER_ID</key>
	<string>602628536236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.objects.sportingClub</string>
	<key>PROJECT_ID</key>
	<string>sporting-club-ad328</string>
	<key>STORAGE_BUCKET</key>
	<string>sporting-club-ad328.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602628536236:ios:947d4b1f3a23a135aeec09</string>
	<key>DATABASE_URL</key>
	<string>https://sporting-club-ad328.firebaseio.com</string>
</dict>
</plist>